{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}This is an example page{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<form>
{% for echo in data %}
    <fieldset>
        <label style="float:left" for="id_offset_{{ loop.index0 }}">Offset: </label>
        <b style="float:left" id="val_offset_{{ loop.index0 }}">{{ echo[0] }}</b>
        <input style="float:left;width:92%;padding-left:5px" type="range" onchange="slide(event)" id="id_offset_{{ loop.index0 }}" min="-24" max="24" step="1"  value="{{ echo[0] }}">
    </fieldset>
    <fieldset>
        <label style="float:left" for="id_velfact_{{ loop.index0 }}">Vel.F: </label>
        <b style="float:left" id="val_velfact_{{ loop.index0 }}">{{ echo[1] }}</b>
        <input style="float:left;width:92%;padding-left:5px" type="range" onchange="slide(event)" id="id_velfact_{{ loop.index0 }}" min="0" max="2" step="0.05"  value="{{ echo[1] }}">
    </fieldset>
    <fieldset>
        <label style="float:left" for="id_delay_{{ loop.index0 }}">Delay.: </label>
        <b style="float:left" id="val_delay_{{ loop.index0 }}">{{ echo[2] }}</b>
        <input style="float:left;width:92%;padding-left:5px" type="range" onchange="slide(event)" id="id_delay_{{ loop.index0 }}" min="0" max="2" step="0.05"  value="{{ echo[2] }}">
    </fieldset>
    <input type="button" class="btn btn-sm btn-danger" onclick="del(event)" id="id_delete_{{ loop.index0 }}" value="x">
{% endfor %}
    <input type="button" class="btn btn-sm btn-info" onclick="add(event)" id="id_add" value="+">
</form>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='socketio.js')}}" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
socket.on('connect', function() {
    socket.emit('hello', {data: 'I\'m connected!'});
});
</script>
{{super()}}
<script>
function myFunction() {
    socket.emit('update', {data: "dickheads!"})
}

function slide(event) {
    socket.emit('update', { data: event.srcElement.id, value: event.srcElement.value })
    document.getElementById(event.srcElement.id.replace('id_','val_')).innerHTML=event.srcElement.value
}

function del(event) {
    socket.emit('delete', {data: event.srcElement.id })
    document.location = document.location
}

function add(event) {
    socket.emit('add', { })
    document.location = document.location
}

</script>
{% endblock %}
